@media screen and (min-width:769px){

    /* GREEN CIRCLE ICON */
    .row-2 .articles-latest header>div .icon,
    .row-2 .misc-bmjproducts header>div .icon,
    .row-2 .widget-products header>div .icon {
        display: table-cell;
        color: #669933;
        font-size: 28px;
        line-height: 38px;      
        margin: 0;
        vertical-align: top
    }
    .row-2 .articles-latest header>div .icon {
        margin:-30px auto 0;
        width:60px;
        height:60px;
        border-radius:30px;
        background-color:#669933;
        position:relative
    }
    .row-2 .articles-latest header>div .icon>div{
        width:38px;
        height:38px;
        background-color:#669933;
        background-repeat:no-repeat;
        position:absolute;
        top:11px;
        left:11px
    }
    /* GREEN CIRCLE ICON ENDS */

    /* BMJ PRODUCTS GREEN ICON WHITE BG */
    .row-3 .articles-latest {
        padding:0 20px 20px
    }
    .row-3 .articles-latest article p {
        font-size: 1rem;
        line-height: 1.5;
    }
    .row-3 .articles-latest header>div .icon svg {
        height:38px
    }
    .row-3 .articles-latest header>div .icon svg g#Layer_2 path {
        fill:#669933!important;
    }
    /* BMJ PRODUCTS GREEN ICON WHITE BG ENDS */

    /* BMJ SPECIALTY GREEN ICON WHITE BG */
    .row-3 .widget-specialty {        
        padding:0 20px 20px
    }
    .row-3 .widget-specialty h2 {
        color: var(--primaryColor);
        font-size: 28px;
        line-height: 38px;
        display: table-cell;
    }
    .row-3 .widget-specialty ul.specialty-list li {
        display: inline-block;
        max-width: 270px;
        min-width: 165px!important;
        line-height: 1.625rem !important;
        vertical-align: top;
        padding: 15px 0 15px 0;
    }
    .row-3 .widget-specialty .full-list {
        text-align: center;
        display: block;
        width: 100%;
        margin: 10px 0;
        color: #2a6ebb;
        line-height: 2rem;
        font-size: 24px;
        margin-bottom: 0!important;
        font-weight: 400;
    }
    .row-3 .widget-specialty .full-list a {   
        text-decoration: none;
    }
    /* BMJ SPECIALTY GREEN ICON WHITE BG ENDS */

    /* BMJ SPOTLIGHT GREEN ICON WHITE BG ENDS */
    .row-3 .widget-spotlight a {
        color: #336fb8;
        text-decoration: none;
    }
    .row-3 .widget-spotlight header {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        padding: 17px 0 21px;        
    }
    .row-3 .widget-spotlight header .icon {
        display: table-cell;
        width: 52px;
    }
    .row-3 .widget-spotlight header .icon svg {
        height:38px
    }
    .row-3 .widget-spotlight header .icon svg#Layer_1 {
        fill: none;
    }
    .row-3 .widget-spotlight header .icon svg#Layer_1 path.st0 {
        stroke: #669933;
    }
    .row-3 .widget-spotlight header h2 {
        color: var(--primaryColor);
        margin: 0;
        vertical-align: top;
        font-size: 28px;
        line-height: 38px;
        display: table-cell;
    }
    .row-3 .widget-spotlight article {
        padding: 0 0 10px 0;
    }
    .row-3 .widget-spotlight article h5 {
        font-size: 1rem;
        line-height: 1.5;
        color: #333;
        text-transform: uppercase;
        margin: 0;
    }
    .row-3 .widget-spotlight article h4 {
        font-size: 1rem;
        line-height: 1.5;
        display: inline;
    }
    .row-3 .widget-spotlight footer {
        font-size: 0.875rem;
        color: #333;
        line-height: 24px;
        display: inline;
        padding: 0 0 0 0.3rem;
    }
    .row-3 .widget-spotlight section .row {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    /* BMJ SPOTLIGHT GREEN ICON WHITE BG ENDS */
}