@font-face {
    font-family: 'InterFace italic';
    src: url('interface/if_std_it-webfont.eot'); /* IE9 Compat Modes */
    src: url('interface/if_std_it-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('interface/if_std_it-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('interface/if_std_it-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('interface/if_std_it-webfont.svg#if_std_bd-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'InterFace bold';
    src: url('interface/if_std_bd-webfont.eot'); /* IE9 Compat Modes */
    src: url('interface/if_std_bd-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('interface/if_std_bd-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('interface/if_std_bd-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('interface/if_std_bd-webfont.svg#if_std_bd-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'InterFace';
    src: url('interface/if_std_rg-webfont.eot'); /* IE9 Compat Modes */
    src: url('interface/if_std_rg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('interface/if_std_rg-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('interface/if_std_rg-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('interface/if_std_rg-webfont.svg#if_std_bd-webfont') format('svg'); /* Legacy iOS */
}
/* FONT FOR SPECIALTIES ICON */
@font-face {
    font-family: "bmj-icons";
    src:url("from-fontastic/bmj-icons.eot");
    src:url("from-fontastic/bmj-icons.eot?#iefix") format("embedded-opentype"),
      url("from-fontastic/bmj-icons.woff") format("woff"),
      url("from-fontastic/bmj-icons.ttf") format("truetype"),
      url("from-fontastic/bmj-icons.svg#bmj-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }

  [data-icon]:before {
    font-family: "bmj-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "bmj-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:45px;
    margin: 7px;
    top: 5px;
   position: relative;
  }
  .icon-bp-icons-specialties-extra-small:before {
    content: "\45";
  }
  .icon-bp-icons-specialties:before {
    content: "\46";
  }
  .container-specialty-altmetrics .widget-specialty .icon .icon-bp-icons-specialties{
      color: #fff;
  }
/* SPECIALTIES ICON ENDS */

body{
    font-family:'Interface Regular',HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px
}
h1, h2, h3{
    margin:10px 0;
}
a, .widgets h2 {
    color: #2a6ebb;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #C50084
}
p{
    line-height: 1.625rem!important;
}
h2{
    text-align: center;
    margin: 10px auto 25px;
    font-size: 28px
}
h3{
    line-height: 2rem;
    margin-bottom: 0!important;
    font-weight: 400;
}
h4 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: inline;
}
h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    text-transform: uppercase;
    margin: 0;
}
article {
    padding: 0 0 10px 0
}
button.btn {
    background-color: #2a6ebb;
    color: #fff;
    border-radius: 4px;
    margin:10px auto;
    width:90%;
    clear: both;
    min-height: 50px;      
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
button.btn:hover, .btn.focus, .btn:focus, .btn:hover{   
  transition: border 0.2s ease;
  background-color: #1F5189;
  color: #fff
}
.primary-color {
    background-color: #2862b4 !important;
}
.container-banner-ad {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 15px 0 12px;
    text-align: center;
}
.container-logo {
    min-height: 58px;
    position: relative;
}
.container-logo a {
    display: inline-block;
    height: 58px;
    margin-left:15px;
}
.container-logo a img {
    height: 58px;
}
.container-logo .logo a {
    margin-left:5px;
}
.container-links {
    display: inline-block!important;
    float: right;
}
.container-links ul {
    float:right;
    max-height: 58px;
    list-style: none;
    margin:0;
}
.container-links ul li {
    display: inline-block;
    line-height: 56px;
    padding: 0;
    vertical-align: top;
}
.container-links ul li a {
    color: #333;
    padding-right: 15px;
    display: inline-block;
    font-size: 1.0625rem;
    height: 56px;
    padding-left: 10px;
    padding-right: 10px;
}
.container-links ul li.login a:hover, .container-links ul li.subscribe a:hover {
    background-color:#eee;
}
.container-nav {
    min-height: 45px;
    padding-left: 15px;
    background-color: #2862b4;
    color: #fff;
}
.case-reports {
    padding-right: 0;
}
.container-nav .case-reports h1 {
    font-family: 'InterFace bold';
    line-height: 2.8rem;
    
    font-size: 36px;
    max-width: 280px;
}
.container-nav .navigation{    
    padding-left: 0;
    float: right;
}
.container-nav .nav-desktop {    
    text-align: right;
    display: block;
}
.container-nav .nav-desktop ul {
    list-style: none;
    margin: 0;
}
.container-nav .nav-desktop ul li {
    display: inline-block;
    vertical-align: middle;
}
.container-nav .nav-desktop ul li:hover {
background-color:rgba(255,255,255,.2);
}
.container-nav .nav-desktop ul li a {
    font-size: 1.0625rem;
    color: #fff;
    display: inline-block;
    height: 100%;
    line-height: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
.container-social {
    min-height:35px;
}
.container-social .social {
    float: right;
    text-align: right
}
.container-social .social ul {
    list-style: none;
    margin: 0;
}
.container-social .social ul li {
    list-style-type: none;
    display: inline-block;
    padding:30px 15px 0;
}
.container-social .email-link {
    text-align: right;
}
.container-social .email-link a {
    vertical-align: baseline;
    padding:5px 15px 0 0;
    display: inline-block
}
.container-social .email a .svg-wrapper {
    margin-top: 1px;
    margin-right: 5px;
    vertical-align: text-top;
    color: #2a6ebb;
    float: left;
}
.container-social .email a .svg-wrapper svg {
    width: 23px;
    background-color: #fff;
    stroke: #2a6ebb;
    display: inline-block;
    margin-top: 1px;
    margin-right: 5px;
    vertical-align: text-top;
}
.container-social .email a p {
    padding: 0;
    display: inline-block;
    margin: 0;
    font-size: 1.0625rem;
    text-align: right;
}
.container-links .blogs-icon, .container-links .twitter-icon, .container-links .fb-icon {
    margin: 10px auto 0;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #2A6EBB;
    position: relative;
}
.container-links .blogs-icon img, .container-links .fb-icon img, .container-links .twitter-icon img {
    height:26px;
    widows: 26px;
    background-color: #2A6EBB;
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    left: 7px;
}
.container-banner{
   /* 
   background: url('../images/banner_4.jpg') no-repeat 0 0 #fff;
    text-align: right;
    background: url('../images/banner_3.jpg') repeat-x 0 0 #fff; 
    background-size: contain; 
    background-size: cover;
    height: 225px;
    padding:0 0 0 150px;
    border-top: 2px solid #2a6ebb;
    border-bottom: 2px solid #2a6ebb;
    */
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    border:none;
}
.container-banner .pill{
    position: absolute;
    right: 5%;
    bottom: 0px;
}
.container-banner .pill .pill-img {
    width: 30%;
    height: auto;
    position: absolute;
}
.container-banner p{
    color: #C50084;
    font-size: 2vw;
    font-family: InterFace italic;
    text-align: left;
    margin: 0 0 0 10%;
}
.container-banner .pill img {
}
.container-banner h2 {
    color: #2A6EBB;
    font-size: 3vw;
    font-family: InterFace Bold;
    text-align: left;
    margin: 50px 0 0 10%;
}
.container-strapline {
    background-color: #C50084;
    color: #fff;
    font-size: 28px;
    min-height: 100px;
    text-align: center;
}
.container-strapline h2{
    margin: 20px auto;
    line-height: 6rem;
}
.container-search {
    margin:15px auto!important;
    width:98%;
    border:1px solid #333;
    border-radius: 4px;
    background-color: #fff;
    height:50px;
    max-width: 670px;
    padding: 0;
}
.container-search .form-group {
    margin-bottom:5px;
    position: relative;
}
.container-search >div{
    padding:0;
}
.container-search input{
    background:transparent;
    width:100%;    
    border: none;
    height: 48px;
    max-width: 670px;
}
.container-search button {    
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.container-search button {
    background-color: transparent;
    border: none 0;
    margin: 5px;
}
.container-search .advanced-search{
    font-size:11px;
    text-align: right
}
.container-browse {
    margin:40px 0;
}
.container-browse .title {
    color:#C50084;
    font-family: 'InterFace bold'
}
.container-browse ul {
    margin: 0;
    text-align: center;
}
.container-browse ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 8px;
    border-right: 1px solid #000;
}
.container-browse ul li a {
    color: #000;
}
.container-browse ul li a:hover,.container-browse ul li a:active {
    font-weight:bold;
    text-decoration: none;
}
.widgets{
    background-color: #eee;
    padding:2rem;
}
.widgets .icon{
    margin: -60px auto 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #C50084;
    position: relative;
}
.widget-publish, 
.widget-spotlight,
.widget-specialty,
.widget-altmetrics,
.widget-products,
.widget-most-read {
    background-color: #fff;
    margin: 40px 20px;
    padding: 30px 20px;
}
.widget-publish {
    text-align: center;
}
.widget-publish button{
    margin: 1.3rem auto;
    width: 93%;
    font-size: 17px;
}
.widget-spotlight, .widget-publish {
    min-height: 453px
}
.widget-spotlight iframe, .widget-spotlight img {
    float: right;
    padding: 5px 0;
}
.widget-spotlight footer,
.widget-altmetrics footer,
.widget-most-read footer {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #333;
    line-height: 24px;
    display: inline;
}
.widget-spotlight .row {
    border-bottom: 1px solid #eee;
    margin:5px;
}
.widget-spotlight .row:last-child {
    border-bottom: none;
}
.widget-altmetrics, .widget-specialty {
    min-height: 834px
}
.widget-altmetrics figure {
    margin: 0 0 2rem;
    float: left;
}
.widget-altmetrics article .copy a,
.widget-most-read article h3 a,
.widget-spotlight article h3 a
{
    line-height: 1.625rem !important
}
.widget-specialty {
    position: relative;
}
.widget-specialty .specialty-list-container{
    margin-bottom: 35px
}
.widget-specialty .full-list {
    position: absolute;
    bottom: 2%;
    left: 45%;
}
.widget-specialty ul.specialty-list{
    height: auto; /*your fixed height*/
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.widget-specialty ul.specialty-list li {
    display: inline-block;
    max-width: 270px;
    min-width: 270px;
    line-height: 1.625rem !important;
}
.widget-specialty .specialty-purple {
    border-left: 5px solid #7D5CC6;
    padding-left: 8px;
}
.widget-specialty .specialty-green {
    border-left: 5px solid #69BE28;
    padding-left: 8px;
}
.widget-specialty .specialty-yellow {
    border-left: 5px solid #F0AB00;
    padding-left: 8px;
}
.widget-specialty .specialty-pink {
    border-left: 5px solid #C50084;
    padding-left: 8px;
}
.widget-specialty .specialty-orange {
    border-left: 5px solid #E37222;
    padding-left: 8px;
}
.widget-specialty .specialty-red {
    border-left: 5px solid #CD202C;
    padding-left: 8px;
}
.widget-specialty .specialty-blue {
    border-left: 5px solid #2A6EBB;
    padding-left: 8px;
}
.widget-specialty .full-list h3 {
    text-align: center;
    color: #2a6ebb;
}
.widget-specialty li {
    padding: 15px 0 15px 0;
}
.widget-altmetrics article {
    border-bottom: 1px solid #eee;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 15px;
}
.widget-altmetrics article:last-child {
    border:none;
    margin:0;
}
.widgets .container-specialty-altmetrics .widget-altmetrics .copy footer {
    padding:0 0 10px;
}
.widget-products, .widget-most-read {
    min-height: 615px
}
.widget-products img {
    display: block;
    margin: 10px auto;
}
.widget-most-read article {
    border-bottom: 1px solid #eee;
    margin: 15px 0;
}

.widget-most-read article:last-child {
    border-bottom: none;
    margin:0
}
nav.nav-mobile, 
a.nav-expander.fixed, 
.navbar {
    display: none
}
footer h3 {
    color: #fff;
    text-align: left;
    text-transform: capitalize;
}
footer nav.primary-color .wrapper ul li a:hover{
    color: #fff!important;
}