.widget .icon {
    margin: -30px auto 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #C50084;
    position: relative;
}
.widget header {
    display: block;
}
.widget header h2 {
    color: #336fb8
}
.widget div.icon>div{
    width: 38px;
    height: 38px;
    background-color: #C50084;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    left: 11px;
}
.widget header div.icon>div svg, 
.widget header div.icon>div svg {
    fill: #fff;
    background-color: #C50084;
    height: 38px;
}