/* 
================================
        FONTS
================================
*/
@font-face {
    font-family: 'InterFace italic';
    src: url('interface/if_std_it-webfont.eot'); /* IE9 Compat Modes */
    src: url('interface/if_std_it-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('interface/if_std_it-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('interface/if_std_it-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('interface/if_std_it-webfont.svg#if_std_bd-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'InterFace bold';
    src: url('interface/if_std_bd-webfont.eot'); /* IE9 Compat Modes */
    src: url('interface/if_std_bd-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('interface/if_std_bd-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('interface/if_std_bd-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('interface/if_std_bd-webfont.svg#if_std_bd-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'InterFace';
    src: url('interface/if_std_rg-webfont.eot'); /* IE9 Compat Modes */
    src: url('interface/if_std_rg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('interface/if_std_rg-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('interface/if_std_rg-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('interface/if_std_rg-webfont.svg#if_std_bd-webfont') format('svg'); /* Legacy iOS */
}

/* FONT FOR SPECIALTIES ICON */
@font-face {
    font-family: "bmj-icons";
    src:url("from-fontastic/bmj-icons.eot");
    src:url("from-fontastic/bmj-icons.eot?#iefix") format("embedded-opentype"),
      url("from-fontastic/bmj-icons.woff") format("woff"),
      url("from-fontastic/bmj-icons.ttf") format("truetype"),
      url("from-fontastic/bmj-icons.svg#bmj-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  
}
/* 
================================
        ICONS
================================
*/
[data-icon]:before {
    font-family: "bmj-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "bmj-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:45px;
    margin: 7px;
    top: 5px;
    position: relative;
}
.icon-bp-icons-specialties-extra-small:before {
    content: "\45";
}
.icon-bp-icons-specialties:before {
    content: "\46";
}
.container-specialty-altmetrics .widget-specialty .icon .icon-bp-icons-specialties{
    color: #fff;
}

/* 
================================
        DEAULT STYLES 
================================
*/
body{
    font-family:'Interface Regular',HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px
}
h1, h2, h3{
    margin:10px 0;
}
a, 
.widgets h2, 
.search-area .search h3,
.search-area .container-browse .title,
.widgets .widget-specialty .full-list h3 {
    color: #336fb8;
}
a:hover, a .svg-wrapper:hover{
    cursor: pointer;
    text-decoration: none;
    color: #C50084
}
p{
    line-height: 1.625rem!important;
}
h2{
    text-align: center;
    margin: 10px auto 25px;
    font-size: 28px
}
h3{
    line-height: 2rem;
    margin-bottom: 0!important;
    font-weight: 400;
}
h4 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: inline;
}
h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    text-transform: uppercase;
    margin: 0;
}
article {
    padding: 0 0 10px 0
}
.btn {
    font-size: 16px
}
button.btn {
    background-color: #336fb8;
    color: #fff;
    border-radius: 4px;
    margin:10px auto;
    width:90%;
    clear: both;
    min-height: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
button.btn:hover, .btn.focus, .btn:focus, .btn:hover{   
  transition: border 0.2s ease;
  background-color: #1F5189;
  color: #fff
}
.primary-color {
    background-color: #336fb8 !important;
}
/* 
================================
BMJ JOURNALS LOGO AND LOGIN ROW
================================
*/
.container-banner-ad {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 15px 0 12px;
    text-align: center;
}
.container-logo a {
    position: relative;
    display: inline-block;
    margin-left:15px;
}
.container-logo a img {
    height: 61px;
}
.container-logo .logo a {
    margin-left:5px;
}
.container-logo .container-links ul {
    float:right;
    max-height: 58px;
    margin:0;
}
.container-logo .container-links ul li {
    display: inline-block;
    line-height: 56px;
    vertical-align: top;
}
.container-logo .container-links ul li a {
    color: #333;
    height: 61px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.container-logo .container-links ul li.login a:hover, 
.container-logo .container-links ul li.subscribe a:hover {
    background-color:#eee;
}
.container-logo .container-links .blogs-icon, 
.container-logo .container-links .twitter-icon, 
.container-logo .container-links .fb-icon {
    margin: 10px auto 0;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #336fb8;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.container-logo .container-links .blogs-icon:hover,
.container-logo .container-links .twitter-icon:hover, 
.container-logo .container-links .fb-icon:hover  {
    background-color: #1F5189;
}
.container-logo .container-links .blogs-icon img, 
.container-logo .container-links .fb-icon img, 
.container-logo .container-links .twitter-icon img {
    height:26px;
    position: absolute;
    top: 7px;
    left: 7px;
}
/* 
================================
    BLUE NAVIGATION ROW
================================
*/
.container-nav {
    padding-left: 15px;
    background-color: #336fb8;
    color: #fff;
}
.container-nav .case-reports {
    padding-right: 0;
    display: inline-block;
    width: auto;
}
.container-nav .case-reports h1 {
    font-family: 'InterFace bold';
    line-height: 3.1rem;    
    font-size: 26px;
    max-width: 280px;
}
.container-nav .case-reports h1 a {
    color: #fff;
    text-decoration: none
}
.container-nav .navigation{    
    padding-left: 0;
    float: right;
}
.container-nav .nav-desktop {    
    text-align: right;
    display: block;
}
.container-nav .nav-desktop ul {
    list-style: none;
    margin: 0;
}
.container-nav .nav-desktop ul li {
    display: inline-block;
    vertical-align: middle;
    background-color:#336fb8
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.container-nav .nav-desktop ul li:hover {
    background-color:rgba(255,255,255,.2);
}
.container-nav .nav-desktop ul li a {
    font-size: 1.0625rem;
    color: #fff;
    display: inline-block;
    height: 100%;
    line-height: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
.container-nav nav.nav-mobile, 
.container-nav a.nav-expander.fixed, 
.container-nav .navbar {
    display: none
}
/* 
================================
    EMAIL ALERTS ROW
================================
*/
.homepage .email {
    background-color: #F2F7FC;
}
.email {
    background-color: #fff;
}
.email .email-link {
    text-align: right;
}
.email .email-link a {
    vertical-align: baseline;
    padding:5px 15px 5px 0;
    display: inline-block
}
.email .email a .svg-wrapper {
    margin-top: 1px;
    margin-right: 5px;
    float: left;
}
.email .email a .svg-wrapper svg {
    width: 23px;
    height: 17px;
    background-color: #fff;
    stroke: #336fb8;
    display: inline-block;
    margin-top: 1px;
    margin-right: 5px;
    vertical-align: text-top;
}
.email .email a p {
    padding: 0;
    display: inline-block;
    margin: 0;
    font-size: 1.0625rem;
    text-align: right;
}
/* 
================================
    SEARCH BOX ROW
================================
*/
.search-area{
    background-color: #F2F7FC;
    padding: 30px 0
}
.search-area .img-left {
    text-align: right
}
.search-area .img-right img{
    margin:10px;
}
.search-area .search h3 {
    max-width: 670px;
    width:98%;
    margin:10px auto 0;
    font-size: 28px;
    font-weight: bold;
}
.search-area .search h4 {
    color: #C50084;
    max-width: 670px;
    width:98%;
    margin:0 auto;
    display: block;
    font-weight: 600;
    font-style: italic;
}
.search-area .container-search {
    margin:15px auto!important;
    width:98%;
    border:1px solid #333;
    border-radius: 4px;
    background-color: #fff;
    height:50px;
    max-width: 670px;
    padding: 0;
}
.search-area .container-search .form-group {
    margin-bottom:5px;
    position: relative;
}
.search-area .container-search input{
    background:transparent;
    width:100%;    
    border: none;
    height: 48px;
    max-width: 670px;
}
.search-area .container-search button {    
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.search-area .container-search button {
    background-color: transparent;
    border: none 0;
    margin: 8px;
}
.search-area .container-search .advanced-search{
    font-size:11px;
    text-align: right
}
.search-area .container-browse {
    padding: 30px 0 20px;
    max-width: 670px;
    width:98%;
    margin:0 auto;
}
.search-area .container-browse .title {
    font-family: 'InterFace'
}
.search-area .container-browse ul {
    font-size: 1rem;
}
.search-area .container-browse ul li {
    list-style-type: none;
    display: inline-block;
}
.search-area .container-browse ul li:not(:first-child):not(:last-child):after {
    content: " | ";
    padding:0 3px;
}
.search-area .container-browse ul li a {
    color: #000;
}
.search-area .container-browse ul li a:hover,.container-browse ul li a:active {
    font-weight:bold;
    text-decoration: none;
}
/* 
================================
WIDGETS 
================================
*/
.widgets{
    background-color: #eee;
    padding:53px 20px;
}
.widgets .row {
    width: 100%; /* Set full-width to expand the whole page */
    margin: 0;
}
.widgets .icon{
    margin: -90px auto 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #C50084;
    position: relative;
}
.widgets .widget-publish, 
.widgets .widget-spotlight,
.widgets .widget-specialty,
.widgets .widget-altmetrics,
.widgets .widget-products,
.widgets .widget-most-read,
.widgets .widget,
.widgets .row-column-cell div .widget,
.widgets .row-column-cell>div>div {
    background-color: #fff;
    margin: 40px 20px;    
    padding: 20px;
}
.widgets .widget-spotlight footer,
.widgets .widget-altmetrics footer,
.widgets .widget-most-read footer {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #333;
    line-height: 24px;
    display: inline;
    padding:0 0 0 0.3rem
}
/* 
================================
WIDGETS PUBLISH & SPOTLIGHT
================================
*/
.widgets .widget-publish {
    text-align: center;
}
.widgets .widget-publish button {
    margin: 1.3rem auto;
    width: 93%;
    font-size: 1rem;
}
.widgets .widget-spotlight iframe, 
.widgets .widget-spotlight img,
.widgets .widget-products img {
    float: left;
    padding: 5px 0;
    max-width:200px;
    height:auto;

}
.widgets .widget-spotlight .row, 
.widgets .widget-most-read article,
.widgets .widget-altmetrics article  {
    border-bottom: 1px solid #eee;
    margin:10px 5px;
    padding:10px 0
}
.widgets .widget-spotlight .row:last-child {
    border-bottom: none;
}
  .widgets .widget-spotlight header .icon svg .star {
    fill: #fff;
}
/*================================
WIDGETS ALTMETRICS
==================================
*/
.widgets .widget-altmetrics figure {
    margin: 0 10px 2rem;
    float: left;
}
.widgets .widget-altmetrics article .copy a,
.widgets .widget-most-read article h3 a,
.widgets .widget-spotlight article h3 a {
    line-height: 1.625rem !important
}
.container-specialty-altmetrics div:first-child {
    position: relative;
}
.widgets .widget-altmetrics article .row {
    margin: 0px 0px;
}
.widgets .widget-altmetrics article .row [class*="col-"] {
    padding:0;
}
.widgets .widget-altmetrics article:last-child {
    border:none;
}

/*================================
WIDGETS SPECIALTY
==================================
*/
.widgets .widget-specialty .specialty-list-container{
    margin-bottom: 35px
}
.widgets .widget-specialty .full-list {
    text-align: center;
    display: block;
}
.widgets .widget-specialty ul.specialty-list{
    height: auto; /*your fixed height*/
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.widgets .widget-specialty ul.specialty-list li {
    display: inline-block;
    max-width: 270px;
    min-width: 165px!important;
    line-height: 1.625rem !important;
    vertical-align: top
}
.widgets .widget-specialty .specialty-purple {
    border-left: 5px solid #7D5CC6;
    padding-left: 8px;
}
.widgets .widget-specialty .specialty-green {
    border-left: 5px solid #69BE28;
    padding-left: 8px;
}
.widgets .widget-specialty .specialty-yellow {
    border-left: 5px solid #F0AB00;
    padding-left: 8px;
}
.widgets .widget-specialty .specialty-pink {
    border-left: 5px solid #C50084;
    padding-left: 8px;
}
.widgets .widget-specialty .specialty-orange {
    border-left: 5px solid #E37222;
    padding-left: 8px;
}
.widgets .widget-specialty .specialty-red {
    border-left: 5px solid #CD202C;
    padding-left: 8px;
}
.widgets .widget-specialty .specialty-blue {
    border-left: 5px solid #336fb8;
    padding-left: 8px;
}
.widgets .widget-specialty .full-list h3 {
    text-align: center;
}
.widgets .widget-specialty li {
    padding: 15px 0 15px 0;
}

/* 
================================
WIDGETS PRODUCTS & MOST READ
================================
*/
.widgets .widget-products img {
    display: block;
    margin: 10px auto;
}
.widgets .widget-most-read article:last-child {
    border-bottom: none;
    margin:0
}
/* 
================================
    FOOTER
================================
*/
footer h3 {
    color: #fff;
    text-align: left;
    text-transform: capitalize;
}
footer nav.primary-color .wrapper ul li a:hover{
    color: #fff!important;
}

/* 
================================
JNP: IFRAME STYLING
================================
*/
iframe .bc-player-default_default .vjs-big-play-button {iframe
    background: rgba(0,0,0,.45);
    border-radius: 45px;
    cursor: pointer;
    height: 33%;
    left: 30%;
    position: absolute;
    top: 33%;
    width: 32%;
}

/* ==============================
JNP: WIDGETS STYLING
================================= */
.widgets .row {
    width: 100%;
    margin: 0;
}
.widget .icon {
    margin: -90px auto 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #C50084;
    position: relative;
}
.widget header {
    display: block;
}
.widget header h2 {
    color: #336fb8
}
.widget div.icon>div{
    width: 38px;
    height: 38px;
    background-color: #C50084;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    left: 11px;
}
.widget header div.icon>div svg, 
.widget header div.icon>div svg {
    fill: #fff;
    background-color: #C50084;
    height: 38px;
}

/* ==================================
JNP: RELATED JOURNALS WIDGET
===================================== */
div.misc-related_journals article {
    width: 100%;
    display:block;
}
.misc-related_journals article figure.cover-image img {
    display: block;
    height: auto;
    width: 106px;
}
.misc-related_journals article figure {
    display: table-cell;
    width: 125px;
    vertical-align: top;
}
.misc-related_journals article aside {
    display: table-cell;
    vertical-align: top;
}
.misc-related_journals article h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 16px;
    margin-top: 0;
}
.misc-related_journals article p:first-of-type {
    margin-top: 6px;
}
.misc-related_journals article p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}
.misc-related_journals article a {
    color: #2a6ebb;
    text-decoration: none;
}
.misc-related_journals article:nth-child(n+2) {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}
/* ==============================
JNP: EDITORS CHOICE WIDGET
================================= */
img.editors-choice {
    height: 13px;
    margin: 2px 0.5em 2px 0;
}
.articles-editors_choice time{
    font-size: 0.875rem;
}
/* ==============================
JNP: FEATURED VIDEO WIDGET
================================= */
.blurb {
    padding: 10px 0;
}
.widget.media-video .video {
    width: 100%;
    display: block;
    vertical-align: top;
}
.widget.media-video .video h3 {      
    color: #C50084;  
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    margin: 16px 0;

}
.widget.media-video .video .media-video time {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 2;
}
/* ==============================
JNP: JOBS WIDGET
================================= */
div.widget.jobs-list header div.view-all {
    display: none;
}
div.widget.jobs-list div.view-all {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 16px;
}
div.widget.jobs-list div.list-of-jobs article h3 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    line-height: 1.2;
}
div.widget.jobs-list div.list-of-jobs article p.location, div.widget.jobs-list div.list-of-jobs article p.recruiter, div.widget.jobs-list div.list-of-jobs article p.salary {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #333;
}
div.widget.jobs-list div.list-of-jobs article p {   
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.5;
    line-height: 1.2;
}
div.widget.jobs-list div.list-of-jobs article + article {
    border-top: 1px solid #ccc;
    margin-top: 8.6px;
    padding-top: 8.4px;
}

/* ==============================
JNP: BLOGS WIDGET
================================= */
.misc-blog #blog, #careers-featured-recruiters-list {
    padding: 10px;
}
.misc-blog article h4 a {
    color: #2a6ebb;
    text-decoration: none;
    display: inline;
}
.misc-blog ul {
    list-style: none;
}
.misc-blog article footer ul li {
    display: inline;
}
.misc-blog article footer ul li a {
    color: #2a6ebb;
    text-decoration: none;
}
.misc-blog article h4 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: inline;
}
.misc-blog article footer {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #333;
    line-height: 24px;
    padding-bottom: 0;
}
.misc-blog article:first-of-type {
    margin-top: 4px;
}
/* ==============================
JNP: EXPANDABLE WIDGET
================================= */
.widgets .expandable{
    display: none;
}
.widgets .row .row-column-cell [class^="widget-"] header .icon>div:first-child{
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-color:  #C50084;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    left: 11px;
}
.widgets .row .row-column-cell [class^="widget-"] header .icon div svg {
    height: 38px;
    background-color: #C50084;    
    fill: #fff;
}
/* 
=================================
JNP: FEATURED RECRUITERS
=================================
*/
.widgets .careers-featured_jobs header .icon,
.widgets .careers-featured_recruiters header .icon {
    display: none;
}